<% include ./static/header %>
<% include ./static/sidebar %>
<% include ./static/navbar %>

<div class="col-xl-12 jumbotron jumbotron-fluid">
    <div class="container">
        <img src="/img/TristoneLogo.png" class="rounded mx-auto d-block animated bounceInDown" alt="Tristone Flowtech">
      <h1 class="display-4 text-center animated bounceInDown" display: inline-block>Embarques</h1>
      <p class="lead text-center animated bounceInDown ">Sistema de captura de Embarques</p>



        <div id="carouselExampleIndicators" class="carousel slide animated bounceInDown cdelay-1" data-ride="carousel">
            
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-50" src="/img/montacarga.png" alt="First slide">
              </div>
             
            </div>
           
          </div>

    </div>
  </div>
</div>




<% include ./static/footer %>
</div>
</body>
</html>
